.aboutus {
    display: flex;
    flex-flow: row;
    padding: 80px 0px;
    justify-content: center;
    align-items: center;
  overflow-x: hidden;
}
.aboutus .left {
    width: 40%
}
.aboutus .left img {
    width: 100%;
}
.aboutus .right {
    display: flex;
    flex-flow: column;
    margin-left: 140px;
    width: 50%;
}
.aboutus .right .title {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 2rem;
}
.aboutus .right .heading {
    font-size: 4rem;
    color: var(--purple-light);
}
.aboutus .right .heading:not(:nth-last-child(2)){
   margin-top: 15px;
}
.aboutus .right .desc {
    width: 600px;
    margin-top: 20px;
}

.points-aboutus {
    position: absolute;
    opacity: 0.2;
}

.points-aboutus-right {
    right: -140px;
    
}

.points-aboutus-left {
    left: -140px;
}







@media (max-width: 992px) {
    .aboutus {
        flex-flow: column;
        padding: 40px 0px;
    }
    .aboutus .left {
        margin-top: 30px;
        order: 2;
        width: 100%
    }
    .aboutus .left img {
        width: 100%;
    }
    .aboutus .right {
        order: 1;
        align-items: center;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    .aboutus .right .heading {
        font-size: 3rem;
        color: var(--purple-light);
    }
    .aboutus .right .desc {
        width: 90%;
        margin-top: 20px;
        text-align: center;
    }   
  }
  