header.main-header {
  width: 100%;
  height: 500px;
  background: #6441A5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--purple), var(--purple-light));
  background: linear-gradient(to right, var(--purple), var(--purple-light));
  padding-top: 10px;
  position: relative;
}
/* Navbar styles */
.navbar {
  background-color: var(--white);
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  z-index: 4000;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  box-shadow: 0px 0px 100px 0px #1a0638;
}

.navbar .left img {
  width: 100px;
}

.navbar-items li {
  display: inline;
  cursor: pointer;
}
.navbar-items a {
  text-decoration: none;
  color: inherit;
}

.navbar-items li:hover {
  color: var(--primary-color);
}

.navbar-items li:not(:first-child) {
  margin-left: 40px;
}

.active-item {
  color: var(--primary-color);
}


/* absolute circles for header */

.empty-circle {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
}

.empty-circle-left-up {
  width: 600px;
  height: 600px;
  border: 70px solid  var(--rgba-purple);
  right: -240px;
  top: -250px;
}

.empty-circle-left-down {
  width: 800px;
  height: 800px;
  border: 70px solid var(--rgba-purple-light);
  right: -250px;
  top: -300px;
}

.empty-circle-right {
  width: 800px;
  height: 800px;
  border: 150px solid var(--rgba-purple-light);
  left: -180px;
  top: -300px;
}


/* Header content styles */

.header-content {
  z-index: 1000;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 120px;
}

.header-content .left {
  display: flex;
  flex-flow: column;
  color: var(--white);
}

.header-content .left .first {
  font-size: 2rem;
  font-weight: 800;
}

.header-content .left .second {
  margin-top: 20px;
  font-size: 4rem;
  font-weight: 800;
}

.header-content .left .third {
  margin-top: 20px;
  font-size: 1.6rem;
  width: 500px;
  word-spacing: 2px;
}

.header-content .right img {
  width: 500px;
  position: relative;
  bottom: 80px;
}

@media (max-width: 992px) {
  header.main-header {
    padding-top: 0px;
    overflow: hidden;
    height: 300px;

  }

  .navbar {
    border-radius: 0px;
    position: relative;
  }

  header .header-content {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 60px 0px;
  }

  .header-content .right img {
    display: none;
  }
  
  .header-content .left .second {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 800;
  }
  .header-content .left .third {
    width: 100%;
    text-align: justify;
    padding: 5px;
  }
  
  .empty-circle-left-up {
    display: none;
  }

  .empty-circle-left-down {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar .right .navbar-items {
    display: none;
  }
}
