/*  Main Settings */

:root {
    --white: #fff;
    --black: #000;
    --yellow: #f8c048;
    --purple: #7351B3;
    --purple-light: #591DB6;
    --primary-color: var(--yellow);
}
@font-face {
    font-family: PTSans-Regular;
    src: url(../assets/fonts/PTSans-Regular.ttf);
  }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: PTSans-Regular;
}

/* Essential styles */
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
}

/* Container */

.container {
    margin: 0 auto;
    width: 75%;
}