/*  Main Settings */

:root {
    --white: #fff;
    --black: #000;
    --yellow: #f8c048;
    --light-yellow: #ffb6179a;
    --primary-color: var(--yellow);
}
@font-face {
    font-family: pastika-medium;
    src: url(../assets/fonts/pastika-medium.ttf);
  }
  @font-face {
    font-family: NorthCarossela;
    src: url(../assets/fonts/North\ Carossela.otf);
  }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: pastika-medium;
}

/* Essential styles */
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
}