/*  Main Settings */

:root {
    --white: #fff;
    --black: #000;
    --yellow: #fbbb32;
    --purple: #7351B3;
    --purple-light: #591DB6;
    --pink: #FAF6FF;
    --pink-light: #FDFCFF;
    --cyan: #07C1C8;
    --cyan-light: #1fdfe6;
    --rgba-purple: #4e1a9c77;
    --rgba-purple-light: #5a1db6d8;
    --primary-color: var(--yellow);
}
@font-face {
    font-family: PTSans-Regular;
    src: url(../assets/fonts/PTSans-Regular.ttf);
  }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: PTSans-Regular;
}

/* Essential styles */
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    color: var(--light-black);
    overflow-x: hidden;
}

/* Container */

.container {
    margin: 0 auto;
    width: 75%;
}

@media (max-width: 992px) { 
    .container {
      width: 100%;
    }
   }